In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("learningSet.csv")

C:\Users\jseab\AppData\Local\Temp\ipykernel_18164\2063256970.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv("learningSet.csv")

In [3]:
df

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [4]:
null_counts = df.isnull().sum()

In [5]:
print(null_counts[null_counts > 0])

AGE         23665
NUMCHLD     83026
INCOME      21286
WEALTH1     44732
MBCRAFT     52854
            ...
RAMNT_24    77674
NEXTDATE     9973
TIMELAG      9973
CLUSTER2      132
GEOCODE2      132
Length: 92, dtype: int64

In [6]:
exclude_vars = ['OSOURCE', 'ZIP CODE']

# Create an empty list to store columns to be dropped
drop_list = []

# Append columns to drop_list
for var in exclude_vars:
    if var in df.columns:
        drop_list.append(var)

# Drop the columns from the DataFrame
df = df.drop(columns=drop_list)

# Now df contains the modified DataFrame with the specified columns dropped

In [7]:
df

,ODATEDW,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,RECP3,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,0,IL,61081,,,3712,0,,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,1,CA,91326,,,5202,0,,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,1,NC,27017,,,0,0,,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,0,CA,95953,,,2801,0,,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,0,FL,33176,,,2001,0,X,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,1,AK,99504,,,0,0,,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,1,TX,77379,,,5001,0,,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,1,MI,48910,,,3801,0,,X,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,0,CA,91320,,,4005,0,X,,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,2,NC,28409,,,1801,0,X,,...,0.0,1,L,1,G,C,1,C,12.0,C

In [9]:
# Calculate the percentage of missing values for each column
missing_percent = (df.isna().sum() / len(df)) * 100

# Identify columns with over 85% missing values
columns_over_85_percent_missing = missing_percent[missing_percent > 85].index.tolist()

# Print the identified columns
print(columns_over_85_percent_missing)

['NUMCHLD', 'RDATE_3', 'RDATE_4', 'RDATE_5', 'RDATE_6', 'RDATE_7', 'RDATE_10', 'RDATE_13', 'RDATE_15', 'RDATE_17', 'RDATE_20', 'RDATE_21', 'RDATE_23', 'RAMNT_3', 'RAMNT_4', 'RAMNT_5', 'RAMNT_6', 'RAMNT_7', 'RAMNT_10', 'RAMNT_13', 'RAMNT_15', 'RAMNT_17', 'RAMNT_20', 'RAMNT_21', 'RAMNT_23']

In [10]:
df = df.drop(columns=columns_over_85_percent_missing)

In [11]:
df

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [14]:
gender_mapping = {'M': 'M','F': 'F'}

# Apply the mapping, and set 'other' for remaining categories
df['GENDER'] = df['GENDER'].map(gender_mapping).fillna('other')

In [20]:
print(df['GENDER'].unique())

['F' 'M' 'other']